.menu-header .hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .menu-header .nav-text,
  .menu-header .avatar {
    display: none;
  }
  .menu-header .hamburger-menu {
    display: block;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    width: 100px;
    left: auto;
    right: 0;
  }
  .navbar-expand .navbar-nav {
    margin: auto;
  }
}
